@using demo.Models.VNpay
@model PaymentResponseModel
@{
    ViewData["Title"] = "Kết quả thông tin giao dịch thanh toán VNpay thành công";
}
<h1>Thanh toán VNpay thành công</h1>
<h5>Thanh toán thành công với:</h5>
<h6>OrderId: @Model.OrderId</h6>
<h6>OrderInfo: @Model.OrderDescription</h6>
<h6>Tổng tiền: @Model.PaymentMethod</h6>
<h6>Mà giao dịch: @Model.TransactionId</h6>
<h6>Mà thanh toán: @Model.PaymentId</h6>
<h5>Xem <a asp-controller="Account" asp-action="History">Lịch sử đơn hàng đã đặt</a></h5>